doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="/scripts/jquery.js")
  body
    block content
